root = true

[*.{c,cpp,h,hpp}]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.sln]
end_of_line = crlf

[*.vcxproj]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
